* {
  color: $font_color;
  font-family: sans-serif;
}

body {
  padding: 0 4em;
}

div#content {
  max-width: 60rem;
}

a {

  &:link, &:visited {
      color: $font_color;
  }

  &:hover, &:active {
    color: $font_color;
  }
}
